<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:fragment="css-loader">
		<link rel="stylesheet" type="text/css"  href="css/common.css" th:href="@{/css/common.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/ui-elements/loading.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/ui-elements/header.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/ui-elements/login.css}"/>
	</th:block>
</head>
<body>
	<th:block th:fragment="js-loader">
		<script src="js/libs/jquery/3.3.1/jquery.min.js" th:src="@{/js/libs/jquery/3.3.1/jquery.min.js}"></script>
		<script src="js/common.js" th:src="@{/js/common.js}"></script>
		<script src="js/ui-elements/loading.js" th:src="@{/js/ui-elements/loading.js}"></script>
		<script src="js/ui-elements/loading.js" th:src="@{/js/ui-elements/header.js}"></script>
		<script src="js/ui-elements/loading.js" th:src="@{/js/ui-elements/login.js}"></script>
	</th:block>
</body>
</html>