<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/ui-elements/loading.css}"/>
	<script src="js/ui-elements/loading.js" th:src="@{/js/ui-elements/loading.js}"></script>
</head>
<body>
	<th:block th:fragment="loader-circle">
		<div id="loading-container">
			<div id="loading-wrapper" class="loading-wrapper">
				<div class="loading-circle"></div>
				<div class="loading-circle"></div>
			</div>
		</div>
	</th:block>
</body>
</html>